/*
 *  Overview 
 */

#hosting-webserver-info, #hosting-dbserver-info, #hosting-client-info, #hosting-platform-info, #hosting-site-info, #hosting-task-info, #hosting-site-edit-info {
  float:left;
  width:35%;
  padding: 2% 5%;
  margin:25px 0;
  background:#F1F1F1;
}

#hosting-webserver-info, #hosting-dbserver-info, #hosting-client-info {
  width: auto;
}

#hosting-task-info, #hosting-site-edit-info {
  float:none;
  width:auto;
}

#hosting-site-edit-info .form-item, #hosting-task-info .form-item {
  float:left;
  margin:0 3em  0 0;
}

#hosting-site-edit-info {
  margin: 10px 0;
  padding: 2% ;
}

#hosting-site-edit-info .form-item {
  width: 200px;
}

#hosting-webserver-info label, #hosting-dbserver-info label, #hosting-client-info label, #hosting-site-edit-info label, #hosting-platform-info label, #hosting-site-info label, #hosting-task-info label {
  float:left;
  margin:0 5px 0 0;
}

#hosting-task-list {
  width:49%;
  float:right;
}

#hosting-site-list label {
  font-size:1.4em;
  margin:0.5em 0 0;
  font-weight:normal;
}

#hosting-site-list {
  clear:both;
}

/**
 * Status icons, colors.
 */
td.hosting-status,
td.hosting-package-upgrade,
td.hosting-package-downgrade,
td.hosting-package-same,
td.hosting-package-missing,
th.hosting-package-upgrade,
th.hosting-package-downgrade,
th.hosting-package-same,
th.hosting-package-missing {
  padding-left:25px !important;
  background-position:5px 7px;
  background-repeat:no-repeat;
}

tr.hosting-warning,
th.hosting-package-missing,
td.hosting-package-missing {
  background-color: #fe8 !important;
}

tr.hosting-error,
th.hosting-package-downgrade,
td.hosting-package-downgrade {
  background-color: #fa8 !important;
}

tr.hosting-queue,
th.hosting-package-same,
td.hosting-package-same {
  background-color: #e0e8f0 !important;
}

tr.hosting-info { background-color: #f8f8f8 !important; }

tr.hosting-success,
th.hosting-package-upgrade,
td.hosting-package-upgrade {
  background-color: #dfc !important;
}

tr.hosting-warning td.hosting-status,
th.hosting-package-missing,
td.hosting-package-missing {  
  background-image: url(images/icon-warning.png);
}

tr.hosting-info td.hosting-status { background-image: url(images/icon-notice.png); }

tr.hosting-queue td.hosting-status,
th.hosting-package-same,
td.hosting-package-same {
  background-image: url(images/icon-queue.png);
}

tr.hosting-error td.hosting-status,
th.hosting-package-downgrade,
td.hosting-package-downgrade {
  background-image: url(images/icon-error.png);
}

tr.hosting-success td.hosting-status,
th.hosting-package-upgrade,
td.hosting-package-upgrade {
  background-image: url(images/icon-ok.png);
}

tr.hosting-warning td,
tr.hosting-info td,
tr.hosting-error td,
tr.hosting-queue td,
tr.hosting-success td {
  background-color:transparent !important;
}

#hosting-package-comparison {overflow-x:auto;}

div#hosting-package-comparison div.form-item label {
  font-weight : bold;
}

/*
 *  Retry button
 */

div.hosting-task-retry form, div.hosting-task-retry form input {
  margin:0 !important;
  padding:0 !important;
}

/*
 *  Unknown
 */

.hosting-queue-frequency div ,.hosting-queue-frequency label{
  display: inline;
}

.hosting-queue-frequency, .hosting-queue-frequency-head {
  text-align: right;
  padding-right: 2em;
}

.hosting-task-full { display: none }

/*
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
*/

#hosting-wizard-form-buttons { 
  text-align: right;
  font-size: 4em;
  clear: both;
}

#hosting-wizard-form, div.error, div.messages {
margin-left: auto;
margin-right: auto;
}

#hosting-wizard-account-details { width : 45%; float: left; padding: 0 10px; }
#hosting-wizard-account-passwd { width : 45%; float: right; padding: 0 10px; }

div.hosting-wizard-glossary { padding: 0 2em; display: none; }



/**
 * Task button links
 */
a.hosting-button-enabled,
.hosting-button-disabled {
  padding: 4px 10px;
  margin: 0 4px;
   text-align: center;
   height: 20px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

a.hosting-button-enabled:hover {
  background: #49a
}

a.hosting-button-enabled {
  color:#fff;
  background:#6ac;
}

.hosting-button-disabled {
  color:#eee;
  background:#aaa;
}

td.hosting-actions {
  text-align: right;
}
th.hosting-actions {
  text-align: center;
}

.hosting-overlay { 
  background: #6e6e6e url(images/overlay.png) 50% 50% repeat;
  opacity: .30;
  filter:Alpha(Opacity=30);
  position: absolute;

  height: 100%;
  width: 100%;
}


.hosting-throbber { 
  background-image: url('images/load-bar.gif');
  background-repeat : no-repeat;
  text-align: center;
  opacity: 1;
  filter:Alpha(Opacity=100);

  color: #000;
  padding-top: 20px;
  width: 100%;
  height: 32px;
  margin: 50% auto;
}

div#hosting-task-list { position: relative }
div.modalframe-page-wrapper { background: white }
