/*
 *  Overview 
 */

#hosting-webserver-info, #hosting-dbserver-info, #hosting-client-info, #hosting-platform-info, #hosting-site-info, #hosting-task-info, #hosting-site-edit-info {
  float:left;
  width:35%;
  padding: 2% 5%;
  margin:25px 0;
  background:#F1F1F1;
  border:solid 3px #CCC;
}

#hosting-webserver-info, #hosting-dbserver-info, #hosting-client-info {
  width: auto;
}

#hosting-task-info, #hosting-site-edit-info {
  float:none;
  width:auto;
}

#hosting-site-edit-info .form-item, #hosting-task-info .form-item {
  float:left;
  margin:0 3em  0 0;
}

#hosting-site-edit-info {
  margin: 10px 0;
  padding: 2% ;
}

#hosting-site-edit-info .form-item {
  width: 200px;
}

#hosting-webserver-info label, #hosting-dbserver-info label, #hosting-client-info label, #hosting-site-edit-info label, #hosting-platform-info label, #hosting-site-info label, #hosting-task-info label {
  float:left;
  margin:0 5px 0 0;
}

#hosting-task-list {
  width:49%;
  float:right;
}

#hosting-site-list label {
  font-size:1.4em;
  margin:0.5em 0 0;
  font-weight:normal;
}

#hosting-site-list {
  clear:both;
}

table.hosting-table {
  border:solid 1px #F1F1F1;
  border-bottom:solid 1px #F1F1F1;
}

table.hosting-table th {
  border:solid 1px #808080;
  border-bottom-width: 2px;
  border-bottom-color: #333333;
  border-top-width: 2px;
  background:#4D4D4D !important;
  padding:5px 5px 5px 10px;
  margin:3px 2px;
  color:#FFF;
}

table.hosting-table th a {
  color:#FFF;
}

table.hosting-table tr {
  border-color:#CCC !important;
}

table.hosting-table td {
  padding:5px 5px 5px 10px;
  margin:3px 2px;
  border-left:solid 1px #F1F1F1;
  border-bottom:solid 1px #F1F1F1;
}

/*
 *  Status icons
 */

tr.hosting-warning {
  background: #FFD !important;
}

tr.hosting-info {
  background: #EDF5FA !important;
}

tr.hosting-error {
  background: #FCC !important;
}

tr.hosting-queue {
  background: #FFE6D5 !important;
}

tr.hosting-success {
  background: #DFD !important;
}

td.hosting-status {
  padding-left:30px !important;
  background-position:10px 7px;
  background-repeat:no-repeat;
}

tr.hosting-warning td.hosting-status {
  background-image: url(warning.png);
}

tr.hosting-info td.hosting-status {
  background-image: url(notice.png);
}

tr.hosting-queue td.hosting-status {
  background-image: url(queue.png);
}

tr.hosting-error td.hosting-status {
  background-image: url(error.png);
}

tr.hosting-success td.hosting-status {
  background-image: url(ok.png);
}

tr.hosting-warning td, tr.hosting-info td, tr.hosting-error td, tr.hosting-queue td, tr.hosting-success td {
  background-color:transparent !important;
}

/*
 * Package statuses
 */

tr.hosting-migrate-summary td {
  border-top: 2px solid black !important;
}

div#hosting-package-comparison th {
  border-bottom: 2px solid black !important;
}
div#hosting-package-comparison div.form-item {
  margin: 3px 0 !important;
  spacing : 0 0 !important;
}
div#hosting-package-comparison div.form-item label {
  font-weight : bold;
}
th.hosting-package-upgrade, td.hosting-package-upgrade,
th.hosting-package-downgrade, td.hosting-package-downgrade,
th.hosting-package-same, td.hosting-package-same,
th.hosting-package-missing, td.hosting-package-missing {
  padding-left:30px !important;
  margin: 5px 0 !important;
  background-position:10px 7px !important;
  background-repeat:no-repeat !important;
}

th.hosting-package-upgrade, td.hosting-package-upgrade {
  background-image: url(ok.png) !important;
  background-color: #DFD !important;
  border: 1px solid #ADA;
}

th.hosting-package-downgrade, td.hosting-package-downgrade {
  background-image: url(error.png) !important;
  background-color: #FCC !important;
  border: 1px solid #DAA;
}

th.hosting-package-same, td.hosting-package-same {
  background-image: url(same.png) !important; 
  background-color: #D9E9FF !important;
  border: 1px solid #B7C7DD;
}

th.hosting-package-missing, td.hosting-package-missing {
  background-image: url(warning.png) !important;
  background-color: #FFD !important;
  border: 1px solid #DDA;
}

/*
 *  Retry button
 */

div.hosting-task-retry {
  padding: 0 0 0 23px;
  background:url(warning.png) 0 4px no-repeat;
  margin:0 0 20px;
  height:20px;
  display:block;
}

td div.hosting-task-retry {
  margin:0;
}

div.hosting-task-retry form, div.hosting-task-retry form input {
  margin:0;
  padding:0;
}

/*
 *  Unknown
 */


.hosting-queue-frequency div ,.hosting-queue-frequency label{
  display: inline;
}

.hosting-queue-frequency, .hosting-queue-frequency-head {
  text-align: right;
  padding-right: 2em;
}


.hosting-task-full { display: none }

/*
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
*/

#hosting-wizard-form-buttons { 
  text-align: right;
  font-size: 4em;
  clear: both;
}

#hosting-wizard-form, div.error, div.messages {
margin-left: auto;
margin-right: auto;
}

#hosting-wizard-account-details { width : 45%; float: left; padding: 0 10px; }
#hosting-wizard-account-passwd { width : 45%; float: right; padding: 0 10px; }

div.hosting-wizard-glossary { padding: 0 2em; display: none; }
