.hosting-queue-frequency div ,.hosting-queue-frequency label{
  display: inline;
}

.hosting-queue-frequency, .hosting-queue-frequency-head {
  text-align: right;
  padding-right: 2em;
}

.hosting-task-log-date {
  white-space : nowrap
}

.hosting-task-log-type {
  font-weight : bold;
}

.hosting-task-log-error {
  color: red
}

.hosting-task-fields div {
  display: inline;
}
